/* Pesquisa */

.pesquisa {
width:50px;
height: 40px;
margin-left: 1150px;
margin-top: -40px;
background-color: #000814;
color: #ffffff;
border-radius: 10px;
display: flex;
cursor: pointer;
}

/* Pesquisa 2*/

.pesquisa2 {
border: none;
background-color: #F2EEE9;
border-radius: 10px;
margin-left: 1000px;
margin-top: -100px;
font-size: 15px;
display: flex;
cursor: pointer;
}


/* Texto superior */

.navba {
width: 150px;
height: 58px;
border: none;
display: inline-block;
margin-left: 200px;
margin-top: 50px;
font-size: 30px;
padding-bottom: 29px;
}

.navba i {
font-weight: bold;
padding-bottom: 29px;
display: flex;
}

/* botões inferiores */

.b1{
background-color: #F2EEE9;
width: 390px;
height: 50px;
border: none;
display: flex;
color: #000814;
margin-left: 250px;
margin-top: -150px;

font-size: 20px;
padding-top: 20px;
padding-bottom: 29px;
padding-left: 100px;
padding-right: 2px;
border-radius: 10px;
}

.b1:hover{
background: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

.b2{
background-color: #F2EEE9;
width: 390px;
height: 65px;
border: none;
display: flex;
color: #000814;
margin-left: 790px;
margin-top: -100px;

font-size: 20px;
padding-top: 5px;
padding-bottom: 29px;
padding-left: 100px;
padding-right: 20px;
border-radius: 10px;
}

.b2:hover{
background: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}


.b3{
background-color: #F2EEE9;
width: 390px;
height: 65px;
border: none;
display: flex;
color: #000814;
margin-left: 1350px;
margin-top: -100px;

font-size: 20px;
padding-top: 5px;
padding-bottom: 29px;
padding-left: 100px;
padding-right: 2px;
border-radius: 10px;
}

.b3:hover{
background: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

/* 1 botões superiores */

.bt1{
box-sizing: border-box;
background: none;
display: flex;
margin-left: 1300px;
margin-top: -40px;
width: 500px;
height: 100px;
border:  none;
border-bottom: 0.5px solid #000814;

font-style: normal;
font-size: 25px;
line-height: 38px;
padding-top: 31px;
padding-bottom: 10px;
padding-left: 100px;
padding-right: 254px;
text-align: center;
}

.bt1:hover{
background: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}


/* 2 botões superiores */

.bt2{
box-sizing: border-box;
background: none;
display: flex;
margin-left: 1300px;
margin-top: -200px;
width: 500px;
height: 100px;
border-top:  0.5px solid #000814;
border:  none;
border-bottom: 0.5px solid #000814;
font-size: 25px;
line-height: 38px;

font-style: normal;
font-size: 25px;
line-height: 38px;
padding-top: 31px;
padding-bottom: 10px;
padding-left: 100px;
padding-right: 254px;
}


.bt2:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

/* 3 botões superiores */

.bt3{
box-sizing: border-box;
background: none;
display: flex;
margin-left: 1300px;
margin-top: -200px;
border:  none;
border-bottom: 0.5px solid #000814;
width: 500px;
height: 100px;
font-size: 25px;
line-height: 38px;

font-style: normal;
font-size: 25px;
line-height: 38px;
padding-top: 31px;
padding-bottom: 10px;
padding-left: 100px;
padding-right: 254px;
}


.bt3:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

/* box */

.box1 {
height: 80px;
width: 80px;
background-color:#F2EEE9;
margin-left: -90px;
margin-top: -20px;
border-radius: 50px;
position: absolute;
}


/* home */

.home {
flex-direction: row;
}

/* tela fundo */

.slide{
width: 930px;
height: 270px;
margin-top: 120px;
left: -300px;
border-radius: 15px;
}

.tela1 {
background-color:#000814;
position: absolute;
width: 420px;
height: 250px;
border-radius: 15px;
}

.tela2 {
background-color:#000814;
margin-left: 150px;
position: absolute;
display: flex;
width: 420px;
height: 250px;
border-radius: 15px;
}

.tela3 {
background-color:#000814;
margin-left: 290px;
position: absolute;
display: flex;
width: 420px;
height: 250px;
border-radius: 15px;
}

.tela4 {
background-color:#000814;
margin-left: 440px;
display: flex;
position: absolute;
width: 420px;
height: 250px;
border-radius: 15px;
}


/* texto das telas */

.h1 {  
left: 40px;
top: 10px;
position: absolute;
width: 331px;
height: 99px;
color: #ffffff;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
}


.h2 {
  display: flex;
width: 250px;
height: 530px;
margin-left: 40px;
margin-top: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
color: #ffffff;
}


/* explore */  


.explorebutton {
position:absolute;
margin-left: 40px;
margin-top: 190px;
cursor: pointer;
}




/* Tela */

.tela {
width: 8%;
height: 87.5vh;
margin-top: -341px;
background-color: #F2EEE9;
display: flex;
}



/* icons esquedo */

.icone1 {
display: flex;
color: #000814;
margin-top: -700px;
height: 40px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
}

.icone1:hover {
background-color:#ffffff;
}

.icone2 {
margin-top: 60px;
display: flex;
color: #000814;
height: 35px;
width: 50px;
border-radius: 25px;
margin-left: 45px;
}

.icone2:hover {
background-color:#ffffff;
}


.icone3 {
margin-top: 60px;
display: flex;
color: #000814;
height: 40px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
}

.icone3:hover {
background-color:#ffffff;
}

.icone4 {
margin-top: 60px;
display: flex;
color: #000814;
height: 45px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
}

.icone4:hover {
background-color:#ffffff;
}

.icone5 {
margin-top: 60px;
display: flex;
color: #000814;
height: 50px;
width: 50px;
border-radius: 25px;
margin-left: 55px;
}

.icone5:hover {
background-color:#ffffff;
}

.icone6 {
margin-top: 60px;
display: flex;
color: #000814;
height: 50px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
}

.icone6:hover {
background-color:#ffffff;
}


 
.sair {
margin-top: 75px;
display: flex;
height: 10px;
width: 10px;
margin-left: 50px;
color: #000814;
font-size: 15px;
}



 