/* primeira coluna */

.slide{
width: 600px;
height: 200px;
margin-left: 205px;
border-radius: 15px;
margin-top: 50px;
}

.box1 {
display: inline-block;
height: 100px;
width: 100px;
background-color:#000814;
margin-left: 40px;
margin-top: 30px;
border-radius: 80px;
cursor: pointer;   
border: none;
}

.textob1 {
margin-left: 50px;
margin-top: 0px;
cursor: pointer;   
border: none;
}

/* image */

.img1 {
display: flex;
margin-top: 5px;
margin-left:260px;
width: 225px;
height: 260px;
border: 1px solid #000814;
cursor: pointer;
border-radius: 8px;
}


.img2 {
margin-top: -262px;
margin-left: 510px;
width: 225px;
height: 200px;
border: 1px solid #000814;
cursor: pointer;
display: flex;
border-radius: 8px;
}


.img3 {
margin-top: 75px;
margin-left:260px;
width: 225px;
height: 190px;
border: 1px solid #000814;
cursor: pointer;
display: flex;
border-radius: 8px;
}


.img4 {
margin-top: -252px;
margin-left: 510px;
width: 225px;
height: 251px;
border: 1px solid #000814;
cursor: pointer;
display: flex;
border-radius: 8px;
}

/* Texto 2 conuna  */

.texto1 {
width: 150px;
margin-left: 850px;
margin-top: -660px;
border: none;
  
font-size: 20px;
padding-bottom: 29px;
}


/* Serviço */

.Serviço {
width: 500px;
margin-top: -100px;
margin-left:850px;
font-size: 30px;
font-weight: bold;
border: 1px solid #858181;
border-top: none;
border-left: none;
border-right: none;
}

/* icon pesquisa */

.SearchIcon{
width: 100px;
height: 100px;
margin-top: 0px;
margin-left:1300px;
font-weight: bold;
cursor: pointer;
}

/* bot 3 topo */

.btop1{
margin-left: 870px;
margin-top: 20px;
width: 80px;
background: #000814;
color: #ffffff;
border-radius: 15px;
text-align: center;
cursor: pointer;
display: inline-block;
}

.btop2{
width: 180px;
margin-left: 965px;
margin-top: -25px;
border:1px solid  #000814;
border-radius: 15px;
padding-left: 30px;
cursor: pointer;
display: flex;
}

.btop3{
width: 120px;
margin-left: 1190px;
margin-top: -24px;
border:1px solid  #000814;
border-radius: 15px;
padding-left: 30px;
cursor: pointer;
display: flex;

}

/* botão segunda coluna*/

.slide2{
width: 600px;
height: 550px;
margin-left: 800px;
border-radius: 15px;
margin-top: 50px;
padding-left: 45px;
display: flex;

}

/*  botão */

.serv1 {
height: 25px;
width: 200px;
margin-left: 190px;
margin-top: 0px;
border-radius: 35px;
color: #858181;
font-size: 100%;
justify-content: center;
position: absolute;
}
  
.serv1 i {
margin-left: -190px;
margin-top: -3px;
position: absolute;
color: #858181;
}

.serv2 {
height: 55px;
width: 60px;
margin-left: 50px;
margin-top: 10px;
border-radius: 35px;
color: #858181;
font-size: 100%;
justify-content: center;
position: absolute;
}

.btb{
height: 80px;
width: 80px;
background-color:#F2EEE9;
margin-left: -90px;
margin-top: -5px;
border-radius: 50px;
cursor: pointer;   
border: none;
position: absolute;
}

/* 1 botões superiores */

.bt1{
background:none;
width: 400px;
height: 90px;
border-bottom: 2px solid #464646;
font-size: 25px;
line-height: 38px;
color:#000814;
padding-top: 20px;
padding-left: 110px;
display: inline-block;
}

.bt1:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

.bt2{
background:none;
width: 400px;
height: 90px;
margin-top: 110px;
margin-left: -600px;
border-bottom: 2px solid #464646;
font-size: 25px;
line-height: 38px;
color:#000814;
padding-top: 20px;
padding-left: 110px;
display: inline-block;
}

.bt2:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

.bt3{
background:none;
width: 400px;
height: 90px;
margin-top: 220px;
margin-left: -1200px;
border-bottom: 2px solid #464646;
font-size: 25px;
line-height: 38px;
color:#000814;
padding-top: 20px;
padding-left: 110px;
display: inline-block;
}

.bt3:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

/*botoes extra */

.serv3{
margin-left: 0px;
margin-top: 35px;
position: absolute;
color: #858181;
}

.serv4{
height: 55px;
width: 60px;
margin-left: 320px;
margin-top: 10px;
border-radius: 35px;
color: #858181;
font-size: 100%;
justify-content: center;
position: absolute;
}

.bt4{
background:none;
width: 400px;
height: 90px;
margin-top: 330px;
margin-left: -1800px;
border-bottom: 2px solid #464646;
font-size: 25px;
line-height: 38px;
color:#000814;
padding-top: 20px;
padding-left: 110px;
display: flex;
}

.bt4:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

.bt5{
background:none;
width: 400px;
height: 90px;
margin-top: 440px;
margin-left: -2400px;
border-bottom: 2px solid #464646;
font-size: 25px;
line-height: 38px;
color:#000814;
padding-top: 20px;
padding-left: 110px;
display: flex;
}

.bt5:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

.bt6{
background:none;
width: 400px;
height: 90px;
margin-top: 0px;
margin-left: 0px;
border-bottom: 2px solid #464646;
font-size: 25px;
line-height: 38px;
color:#000814;
padding-top: 20px;
padding-left: 110px;
display: flex;
}

.bt6:hover{
background: #000814;
color: #000814;
color: #ffffff;
cursor: pointer;
border-radius: 10px;
}

/* conula 3 */

/* Emblema */

.cota {
margin-top: -712px;
margin-left:1450px;
font-size: 20px;
width: 400px;
display: flex;
}

.temblema1 {
width: 400px;
height: 230px;
border-radius: 15px;
background-color: #F2EEE9;
margin-top: 30px;
margin-left:1450px;
display: inline-block;
}

.temblema2 {
width: 400px;
height: 230px;
border: none;
border-radius: 15px;
background-color: #F2EEE9;
margin-top: 30px;
margin-left:1450px;
display: inline-block;
}

.emblema1 i{
width: 200px;
margin-top: -50px;
color: #000814;
font-size: 100%;
margin-left: 0px;
justify-content: center;
font-weight: bold;
position: absolute;
}

.emblema1{
width: 280px;
margin-left: 50px;
margin-top: 100px;
color: #858181;
font-size: 100%;
justify-content: center;
position: absolute;
}


.eicon1{
margin-left: 20px;
margin-top: 120px;
color: #858181;
position: absolute;
}

.bemblema1{
width: 360px;
height: 40px;
margin-left: 20px;
margin-top: 150px;
border: none;
border-radius: 15px;
background-color: #090909;
position: absolute;
color: #ffffff;
text-align: center;
padding-top: 20PX;
cursor: pointer;
position: absolute;
}


/* home */

.home {
flex-direction: row;
}

.search_form {
  max-width: 100%;
  width: 60%;
  justify-content: center;
  margin-bottom: 2em;
  display: flex;
}

.search_form input {
  margin-right: 10px;
  width: 50%;
  display: flex;
}

.noposts {
  text-align: center;
  display: flex;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

/* Tela */

.tela {
width: 8%;
height: 87.5vh;
margin-top: -639px;
background-color: #F2EEE9;
display: flex;
}



/* icons esquedo */

.icone1 {
display: flex;
color: #000814;
margin-top: -700px;
height: 40px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
background-color: #ffffff;
}

.icone1:hover {
background-color:#ffffff;
}

.icone2 {
margin-top: 60px;
display: flex;
color: #000814;
height: 35px;
width: 50px;
border-radius: 25px;
margin-left: 45px;
}

.icone2:hover {
background-color:#ffffff;
}


.icone3 {
margin-top: 60px;
display: flex;
color: #000814;
height: 40px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
}

.icone3:hover {
background-color:#ffffff;
}

.icone4 {
margin-top: 60px;
display: flex;
color: #000814;
height: 45px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
}

.icone4:hover {
background-color:#ffffff;
}

.icone5 {
margin-top: 60px;
display: flex;
color: #000814;
height: 50px;
width: 50px;
border-radius: 25px;
margin-left: 55px;
}

.icone5:hover {
background-color:#ffffff;
}

.icone6 {
margin-top: 60px;
display: flex;
color: #000814;
height: 50px;
width: 50px;
border-radius: 25px;
margin-left: 50px;
}

.icone6:hover {
background-color:#ffffff;
}


 
.sair {
margin-top: 75px;
display: flex;
height: 10px;
width: 10px;
margin-left: 50px;
color: #000814;
font-size: 15px;
}



 